
@{
    ViewBag.Title = "Popularność przedmiotu";
}


<h2>FormResults</h2>
<p>
    Przewidywana liczba osób, która zapisze się na przedmiot: <b>@Html.Encode(ViewData["predictedPopularity"])</b>
</p>

