@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>HERMES</h1>
    <p class="lead">HERMES jest systemem rekomendacji przedmiotów dla studentów Uniwersytetu Warszawskiego. Pomoże 
    każdemu studentowi wybrać odpowiednie przedmioty i ścieżkę kształcenia </p>
</div>

